.light {
   font-weight: 400;
}

.navbar-custom {
   margin-bottom: 0;
   border-bottom: 1px solid #4c4c4c;
   text-transform: uppercase;
   font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #000;
}

.navbar-custom .navbar-brand {
   font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
   outline: hidden;
}

.navbar-custom .navbar-brand .navbar-toggle {
   padding: 4px 6px;
   font-size: 16px;
   color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
   outline: hidden;
}

.navbar-custom a {
   color: #fff;
}

.navbar-custom .nav li a {
   -webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
   -o-transition: background .3s ease-in-out;
   transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
   outline: hidden;
   color: #CCC;
   background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
   outline: hidden;
   background-color: transparent;
}

.navbar-custom .nav li.active:focus {
   outline: hidden;
}

.navbar-custom .nav li.active a {
   background-color: #4c4c4c;
}

.navbar-custom .nav li.active a:hover {
   color: #fff;
}

@media(min-width:768px) {
   .navbar-custom {
      padding: 20px 0;
      border-bottom: 0;
      letter-spacing: 1px;
      background: 0 0;
      -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
      -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
      -o-transition: background .3s ease-in-out, padding .3s ease-in-out;
      transition: background .3s ease-in-out, padding .3s ease-in-out;
   }
   .navbar-custom.top-nav-collapse {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      background: #000;
   }
}